WebSiteWebServiceConsumir/App_WebReferences/ServicePersona/WebServiceBuscar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listdoPersona">
        <s:complexType />
      </s:element>
      <s:element name="listdoPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listdoPersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPersonaId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPersonaIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPersonaIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="listdoPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:listdoPersona" />
  </wsdl:message>
  <wsdl:message name="listdoPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:listdoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPersonaIdSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPersonaId" />
  </wsdl:message>
  <wsdl:message name="buscarPersonaIdSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPersonaIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBuscarSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listdoPersona">
      <wsdl:input message="tns:listdoPersonaSoapIn" />
      <wsdl:output message="tns:listdoPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPersonaId">
      <wsdl:input message="tns:buscarPersonaIdSoapIn" />
      <wsdl:output message="tns:buscarPersonaIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBuscarSoap" type="tns:WebServiceBuscarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listdoPersona">
      <soap:operation soapAction="http://tempuri.org/listdoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPersonaId">
      <soap:operation soapAction="http://tempuri.org/buscarPersonaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBuscarSoap12" type="tns:WebServiceBuscarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listdoPersona">
      <soap12:operation soapAction="http://tempuri.org/listdoPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPersonaId">
      <soap12:operation soapAction="http://tempuri.org/buscarPersonaId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBuscar">
    <wsdl:port name="WebServiceBuscarSoap" binding="tns:WebServiceBuscarSoap">
      <soap:address location="http://localhost:63891/WebServiceBuscar.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBuscarSoap12" binding="tns:WebServiceBuscarSoap12">
      <soap12:address location="http://localhost:63891/WebServiceBuscar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>